body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-container {
  background-image: url(./images/opaque-background.jpeg);
  background-size: 100% 100%;
}

.top-container-info {
  width: 50%;
  text-align: center;
  display: inline-block;
  margin: 5% 0 12% 40%;
}

h1 {
  font-size: 3.9em;
}